<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Throw it up!(please dont though){{else}}Eat Ya Burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw it Away (Sad)!</button>
</li>
