<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Dig in!!{{else}}Let's Make Another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Dispose Of Your Creation!</button>
</li>
