<li>
	{{burger_name}}

	<button type="button" class="change-devoured btn btn-light" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Dig in!!{{else}}Let's Make Another!{{/if}}
	</button>

	<button type="button" class="delete-burger btn btn-light" data-id="{{this.id}}">Dispose Of Your Creation!</button>
</li>
